process {
    withName: 'PLASTIZYMEFINDER:BIN_CLASSIFICATION:CDHIT' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:BIN_CLASSIFICATION:EGGNOG_MAPPER' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:BIN_CLASSIFICATION:GTDBTK_CLASSIFYWF' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:BIN_CLASSIFICATION:PROKKA' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:BIN_QC:DREP' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:BIN_QC:QUAST_BINS' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:BINNING:METABAT2' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:QC_PREPROCESSING:FASTQC_TRIMMED' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:ASSEMBLY_ANNOTATION:QUAST_ASSEMBLY' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:ASSEMBLY_ANNOTATION:MEGAHIT' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:QC_PREPROCESSING:FASTP' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:ASSEMBLY_ANNOTATION:BOWTIE2_BUILD' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:ASSEMBLY_ANNOTATION:PRODIGAL' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:TAXONOMIC_PROFILING:METAPHLAN4' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:TAXONOMIC_PROFILING:KRAKEN2' {
        memory = '20 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:QC_PREPROCESSING:FASTP' {
        memory = '30 GB'
        cpus = 4
    }
    withName: 'PLASTIZYMEFINDER:QC_PREPROCESSING:FASTQC_RAW' {
        memory = '20 GB'
        cpus = 4
    }
}
